In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv('/content/bollywood_2010-2019.csv')
ratings=pd.read_csv('/content/bollywood_ratings_2010-2019.csv')
meta=pd.read_csv('/content/bollywood_meta_2010-2019.csv')
text=pd.read_csv('/content/bollywood_text_2010-2019.csv')

In [ ]:
movies.head(5)

,title,imdb_id,poster_path,wiki_link
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...
1,Rangeela Raja,tt9052964,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Rangeela_Raja
2,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609
3,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...
4,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India

In [ ]:
text.head(5)

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date
0,tt5013008,Fraud Saiyyan is the story of a con artist in ...,Fraud Saiyyan is the story of a con artist in ...,NaN,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...,NaN,18 January 2019 (India)
1,tt8291224,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
2,tt9472208,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
3,tt6986710,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
4,tt6028796,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [ ]:
meta.head(5)

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
0,tt0073707,Sholay,Sholay,0,1975,198,Action|Adventure|Comedy
1,tt0246825,Om Dar-B-Dar,Om Dar-B-Dar,0,1988,101,Drama
2,tt0403935,Action Jackson,Action Jackson,0,2014,144,Action|Thriller
3,tt0443331,Milenge Milenge,Milenge Milenge,0,2010,109,Drama|Romance
4,tt0839742,Bhopal: A Prayer for Rain,Bhopal: A Prayer for Rain,0,2014,96,Drama

In [ ]:
ratings.head(5)

     imdb_id  imdb_rating  imdb_votes
0  tt8291224          8.4     35112.0
1  tt9472208          4.1        73.0
2  tt6986710          6.1      5549.0
3  tt8108208          6.0      1891.0
4  tt6028796          7.3       280.0

In [ ]:
movies.shape

(980, 4)

In [ ]:
movies = movies.merge(ratings)

In [ ]:
movies = movies.merge(text)

In [ ]:
movies = movies.merge(meta)

In [ ]:
movies.head(5)

,title,imdb_id,poster_path,wiki_link,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date,original_title,is_adult,year_of_release,runtime,genres
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,8.4,35112.0,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA),Uri: The Surgical Strike,0,2019,138,Action|Drama|War
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,4.1,73.0,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India),Battalion 609,0,2019,131,War
2,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,6.0,1891.0,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA),Why Cheat India,0,2019,121,Crime|Drama
3,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,7.3,280.0,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India),Evening Shadows,0,2018,102,Drama
4,Fraud Saiyaan,tt5013008,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Fraud_Saiyaan,4.2,504.0,Fraud Saiyyan is the story of a con artist in ...,Fraud Saiyyan is the story of a con artist in ...,NaN,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...,NaN,18 January 2019 (India),Fraud Saiyyan,0,2019,109,Comedy|Drama

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 563 entries, 0 to 562
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             563 non-null    object
 1   imdb_id           563 non-null    object
 2   poster_path       530 non-null    object
 3   wiki_link         563 non-null    object
 4   imdb_rating       554 non-null    float64
 5   imdb_votes        554 non-null    float64
 6   story             555 non-null    object
 7   summary           563 non-null    object
 8   tagline           154 non-null    object
 9   actors            562 non-null    object
 10  wins_nominations  220 non-null    object
 11  release_date      526 non-null    object
 12  original_title    563 non-null    object
 13  is_adult          563 non-null    int64
 14  year_of_release   563 non-null    object
 15  runtime           563 non-null    object
 16  genres            563 non-null    object
dtypes: float64(2), int64(1), object(14)
memory usage: 79.2+ KB

In [ ]:
movies = movies[['imdb_id','title','summary','genres','actors']]

In [ ]:
movies.head(5)

,imdb_id,title,summary,genres,actors
0,tt8291224,Uri: The Surgical Strike,Indian army special forces execute a covert op...,Action|Drama|War,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1,tt9472208,Battalion 609,The story of Battalion 609 revolves around a c...,War,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2,tt8108208,Why Cheat India,The movie focuses on existing malpractices in ...,Crime|Drama,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
3,tt6028796,Evening Shadows,Under the 'Evening Shadows' truth often plays...,Drama,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
4,tt5013008,Fraud Saiyaan,Fraud Saiyyan is the story of a con artist in ...,Comedy|Drama,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...

In [ ]:
movies.isnull().sum()

imdb_id    0
title      0
summary    0
genres     0
actors     1
dtype: int64

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.duplicated().sum()

3

In [ ]:
movies.iloc[0].genres

'Action|Drama|War'

In [ ]:
movies['summary'][0]

'Indian army special forces execute a covert operation  avenging the killing of fellow army men at their base by a terrorist group.'

In [ ]:
movies['summary']=movies['summary'].apply(lambda x:x.split())

In [ ]:
movies.head()

,imdb_id,title,summary,genres,actors
0,tt8291224,Uri: The Surgical Strike,"[Indian, army, special, forces, execute, a, co...",Action|Drama|War,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1,tt9472208,Battalion 609,"[The, story, of, Battalion, 609, revolves, aro...",War,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2,tt8108208,Why Cheat India,"[The, movie, focuses, on, existing, malpractic...",Crime|Drama,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
3,tt6028796,Evening Shadows,"[Under, the, 'Evening, Shadows', truth, often,...",Drama,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
4,tt5013008,Fraud Saiyaan,"[Fraud, Saiyyan, is, the, story, of, a, con, a...",Comedy|Drama,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...

In [ ]:
movies['actors']=movies['actors'].apply(lambda x:x.split())

In [ ]:
movies.head()

,imdb_id,title,summary,genres,actors
0,tt8291224,Uri: The Surgical Strike,"[Indian, army, special, forces, execute, a, co...",Action|Drama|War,"[Vicky, Kaushal|Paresh, Rawal|Mohit, Raina|Yam..."
1,tt9472208,Battalion 609,"[The, story, of, Battalion, 609, revolves, aro...",War,"[Vicky, Ahuja|Shoaib, Ibrahim|Shrikant, Kamat|..."
2,tt8108208,Why Cheat India,"[The, movie, focuses, on, existing, malpractic...",Crime|Drama,"[Emraan, Hashmi|Shreya, Dhanwanthary|Snighdade..."
3,tt6028796,Evening Shadows,"[Under, the, 'Evening, Shadows', truth, often,...",Drama,"[Mona, Ambegaonkar|Ananth, Narayan, Mahadevan|..."
4,tt5013008,Fraud Saiyaan,"[Fraud, Saiyyan, is, the, story, of, a, con, a...",Comedy|Drama,"[Arshad, Warsi|Saurabh, Shukla|Flora, Saini|Sa..."

In [ ]:
movies['genres']=movies['genres'].apply(lambda x:x.split())

In [ ]:
movies.head()

,imdb_id,title,summary,genres,actors
0,tt8291224,Uri: The Surgical Strike,"[Indian, army, special, forces, execute, a, co...",[Action|Drama|War],"[Vicky, Kaushal|Paresh, Rawal|Mohit, Raina|Yam..."
1,tt9472208,Battalion 609,"[The, story, of, Battalion, 609, revolves, aro...",[War],"[Vicky, Ahuja|Shoaib, Ibrahim|Shrikant, Kamat|..."
2,tt8108208,Why Cheat India,"[The, movie, focuses, on, existing, malpractic...",[Crime|Drama],"[Emraan, Hashmi|Shreya, Dhanwanthary|Snighdade..."
3,tt6028796,Evening Shadows,"[Under, the, 'Evening, Shadows', truth, often,...",[Drama],"[Mona, Ambegaonkar|Ananth, Narayan, Mahadevan|..."
4,tt5013008,Fraud Saiyaan,"[Fraud, Saiyyan, is, the, story, of, a, con, a...",[Comedy|Drama],"[Arshad, Warsi|Saurabh, Shukla|Flora, Saini|Sa..."

In [ ]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace("|",",") for i in x])
movies['actors']=movies['actors'].apply(lambda x:[i.replace("|",",") for i in x])

In [ ]:
movies.head()

,imdb_id,title,summary,genres,actors
0,tt8291224,Uri: The Surgical Strike,"[Indian, army, special, forces, execute, a, co...","[Action,Drama,War]","[Vicky, Kaushal,Paresh, Rawal,Mohit, Raina,Yam..."
1,tt9472208,Battalion 609,"[The, story, of, Battalion, 609, revolves, aro...",[War],"[Vicky, Ahuja,Shoaib, Ibrahim,Shrikant, Kamat,..."
2,tt8108208,Why Cheat India,"[The, movie, focuses, on, existing, malpractic...","[Crime,Drama]","[Emraan, Hashmi,Shreya, Dhanwanthary,Snighdade..."
3,tt6028796,Evening Shadows,"[Under, the, 'Evening, Shadows', truth, often,...",[Drama],"[Mona, Ambegaonkar,Ananth, Narayan, Mahadevan,..."
4,tt5013008,Fraud Saiyaan,"[Fraud, Saiyyan, is, the, story, of, a, con, a...","[Comedy,Drama]","[Arshad, Warsi,Saurabh, Shukla,Flora, Saini,Sa..."

In [ ]:
movies['tags']=movies['summary']+ movies['genres']+ movies['actors']

In [ ]:
new_df= movies[['imdb_id','title','tags']]

In [ ]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

<ipython-input-30-53a061086f2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [ ]:
new_df.head()

,imdb_id,title,tags
0,tt8291224,Uri: The Surgical Strike,Indian army special forces execute a covert op...
1,tt9472208,Battalion 609,The story of Battalion 609 revolves around a c...
2,tt8108208,Why Cheat India,The movie focuses on existing malpractices in ...
3,tt6028796,Evening Shadows,Under the 'Evening Shadows' truth often plays ...
4,tt5013008,Fraud Saiyaan,Fraud Saiyyan is the story of a con artist in ...

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
def stem(text):
  y= []
  for i in text.split():
   y.append(ps.stem(i))
  return " ".join(y)

In [ ]:
new_df['tags']=new_df['tags'].apply(stem)

<ipython-input-35-402dd7cb6b10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [ ]:
new_df['tags'][0]

'indian armi special forc execut a covert oper aveng the kill of fellow armi men at their base by a terrorist group. action,drama,war vicki kaushal,paresh rawal,mohit raina,yami gautam,kirti kulhari,rajit kapoor,ivan rodrigues,manasi parekh,swaroop sampat,riva arora,yogesh soman,fare ahmed,akashdeep arora,kallol banerjee,'

In [ ]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

<ipython-input-37-242d679aab18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [ ]:
new_df.head()

,imdb_id,title,tags
0,tt8291224,Uri: The Surgical Strike,indian armi special forc execut a covert oper ...
1,tt9472208,Battalion 609,the stori of battalion 609 revolv around a cri...
2,tt8108208,Why Cheat India,the movi focus on exist malpractic in country'...
3,tt6028796,Evening Shadows,under the 'even shadows' truth often play hide...
4,tt5013008,Fraud Saiyaan,fraud saiyyan is the stori of a con artist in ...

In [ ]:
new_df.shape

(562, 3)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=562,stop_words='english')

In [ ]:
vectors= cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vectors[0]

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
ps.stem('danced')

'danc'

In [ ]:
ps.stem('Indian army special forces execute a covert operation avenging the killing of fellow army men at their base by a terrorist group. Action,Drama,War Vicky Kaushal,Paresh Rawal,Mohit Raina,Yami Gautam,Kirti Kulhari,Rajit Kapoor,Ivan Rodrigues,Manasi Parekh,Swaroop Sampat,Riva Arora,Yogesh Soman,Fareed Ahmed,Akashdeep Arora,Kallol Banerjee')

'indian army special forces execute a covert operation avenging the killing of fellow army men at their base by a terrorist group. action,drama,war vicky kaushal,paresh rawal,mohit raina,yami gautam,kirti kulhari,rajit kapoor,ivan rodrigues,manasi parekh,swaroop sampat,riva arora,yogesh soman,fareed ahmed,akashdeep arora,kallol banerje'

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vectors)

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(77, 0.27498597046143514),
 (68, 0.27003086243366087),
 (103, 0.25000000000000006),
 (271, 0.2405626121623441),
 (22, 0.24019223070763074)]

In [ ]:

def recommend(movie):
  movie_index=new_df[new_df['title']==movie].index[0]
  distances=similarity[movie_index]
  movie_list= sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
  for i in movie_list:
    print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Uri: The Surgical Strike')

Sanju
Raazi
Tiger Zinda Hai
Bhaag Johnny
Kabir Singh

In [ ]:
new_df.iloc[527].title

'Prem Kaa Game'

In [ ]:
import pickle

In [ ]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [ ]:
new_df['title'].values

array(['Uri: The Surgical Strike', 'Battalion 609', 'Why Cheat India',
       'Evening Shadows', 'Fraud Saiyaan', 'Bombairiya',
       'Manikarnika: The Queen of Jhansi', 'Amavas', 'Gully Boy',
       'Total Dhamaal', 'Sonchiriya', 'Risknamaa',
       'Mere Pyare Prime Minister', '22 Yards', 'Gone Kesh',
       'Albert Pinto Ko Gussa Kyun Aata Hai?', 'The Tashkent Files',
       'Kalank', 'Student of the Year 2', 'PM Narendra Modi',
       'De De Pyaar De', 'Yeh Hai India', 'Kabir Singh',
       'One Day: Justice Delivered', 'Hume Tumse Pyaar Kitna',
       'Family of Thakurganj', 'Batla House', 'Jhootha Kahin Ka',
       'Judgementall Hai Kya', 'Chicken Curry Law', 'Arjun Patiala',
       'Jabariya Jodi', 'Pranaam', 'The Sky Is Pink', 'Mission Mangal',
       'Saaho', 'Section 375', 'Pal Pal Dil Ke Paas', 'Prassthanam',
       'P Se Pyaar F Se Faraar', 'Housefull 4', 'Saand Ki Aankh',
       'Ujda Chaman', 'Satellite Shankar', 'Jhalki', 'Marjaavaan',
       'Motichoor Chaknachoor', 'Ramprasad Ki Tehrvi',
       'Yeh Saali Aashiqui', 'Dil Bechara', 'Mardaani 2', 'Dabangg 3',
       'Good Newwz', 'Kaalakaandi', 'Vodka Diaries', 'My Birthday Song',
       'Nirdosh', 'Aiyaary', 'Padmaavat', 'Kuchh Bheege Alfaaz',
       'Veerey Ki Wedding', 'Sonu Ke Titu Ki Sweety', 'Dil Juunglee',
       '3 Storeys', 'Hichki', 'Baaghi 2', 'Nanu Ki Jaanu', 'Daas Dev',
       'Raazi', 'Hope Aur Hum', 'Khajoor Pe Atke',
       'Parmanu: The Story of Pokhran', 'Bioscopewala',
       'Bhavesh Joshi Superhero', 'Phamous', 'Race 3', 'Dhadak', 'Sanju',
       'Saheb Biwi Aur Gangster 3', 'Karwaan', 'Happy Phirr Bhag Jayegi',
       'Halkaa', 'Pataakha', 'Batti Gul Meter Chalu', 'Love Sonia',
       'Ishqeria', 'Manmarziyaan', 'Mitron', 'Baazaar', 'FryDay',
       'Tumbbad', 'Helicopter Eela', 'Namaste England', 'Andhadhun',
       'Badhaai Ho', '5 Weddings', 'Kaashi in Search of Ganga',
       'Dassehra', 'The Journey of Karma', 'Mohalla Assi', 'Pihu',
       'Rajma Chawal', 'Simmba', 'Tiger Zinda Hai', 'Golmaal Again',
       'Coffee with D', 'Kaabil', 'Thugs of Hindostan', 'Running Shaadi',
       'The Ghazi Attack', 'Wedding Anniversary', 'Badrinath Ki Dulhania',
       'Aa Gaya Hero', 'Bhanwarey', 'Anaarkali of Aarah', 'Naam Shabana',
       'Hotel Salvation', 'Begum Jaan', 'Maatr', 'Sarkar 3',
       'Jattu Engineer', 'Meri Pyaari Bindu', 'Hindi Medium',
       'Sweetiee Weds NRI', 'Dobaara: See Your Evil', 'Flat 211',
       'Dear Maya', 'Behen Hogi Teri', 'Bank Chor',
       'Ek Haseena Thi Ek Deewana Tha', 'Jagga Jasoos',
       'Lipstick Under My Burkha', 'Bachche Kachche Sachche',
       'G Kutta Se', 'Indu Sarkar', 'Jab Harry Met Sejal',
       'Munna Michael', 'Mubarakan', 'Guest iin London',
       'Bareilly Ki Barfi', 'Babumoshai Bandookbaaz', 'Qaidi Band',
       'Shubh Mangal Saavdhan', 'Lucknow Central', 'A Gentleman',
       'Patel Ki Punjabi Shaadi', 'The Final Exit', 'Haseena Parkar',
       'Haraamkhor', 'Poster Boys', 'Ranchi Diaries',
       'Babuji Ek Ticket Bambai', 'Secret Superstar',
       'Shaadi Mein Zaroor Aana', 'Qarib Qarib Singlle', 'Aksar 2',
       'Panchlait', 'Tumhari Sulu', 'Julie 2', 'Firangi',
       'Fukrey Returns', 'Monsoon Shootout', 'Ajji', 'Rebellious Flower',
       'Sallu Ki Shaadi', 'Kyaa Kool Hain Hum 3', 'Mastizaade',
       'Dil Jo Na Keh Saka', 'Sanam Re', 'Direct Ishq', 'Ishq Forever',
       'Neerja', 'Bollywood Diaries', 'Love Shagun', 'Jai Gangaajal',
       'Kapoor & Sons', 'Rocky Handsome', 'Nil Battey Sannata',
       'Laal Rang', 'Global Baba', 'Shortcut Safari',
       'The Blueberry Hunt', 'Santa Banta Pvt Ltd',
       'Buddha in a Traffic Jam', 'Murari the Mad Gentleman', 'Te3n',
       'Udta Punjab', 'Luv U Alia', '7 Hours to Go', 'Raman Raghav 2.0',
       'Junooniyat', 'Rough Book', 'Dil Toh Deewana Hai', 'Brahman Naman',
       'Great Grand Masti', 'Ishq Click', 'M Cream', 'Madaari',
       'Hai Apna Dil Toh Awara', 'Happy Bhag Jayegi', 'A Flying Jatt',
       'Baar Baar Dekho', 'Freaky Ali', 'Parched', 'Days of Tafree',
       'Wah Taj', 'Ek Kahani Julie Ki', 'M.S. Dhoni: The Untold Story',
       'Motu Patlu: King of Kings', 'Fuddu', 'Saat Uchakkey',
       'Beiimaan Love', 'Umrika', 'Shivaay', 'Ae Dil Hai Mushkil',
       'Rock On 2', 'Force 2', 'Dear Zindagi', 'Befikre',
       'Moh Maya Money', 'Shorgul', 'Ki & Ka', 'Wajah Tum Ho',
       'Prem Ratan Dhan Payo', 'Bajrangi Bhaijaan', 'Bajirao Mastani',
       'Singh Is Bliing', 'Tevar', 'Sharafat Gayi Tel Lene',
       'Dolly Ki Doli', 'Hawaizaada', 'Khamoshiyan', 'Rahasya',
       'Shamitabh', 'Crazy Cukkad Family', 'Ab Tak Chhappan 2',
       'Dum Laga Ke Haisha', 'Badmashiyaan', 'Coffee Bloom', 'Hey Bro',
       'Hunterrr', 'Detective Byomkesh Bakshy!', 'Luckhnowi Ishq',
       'Margarita with a Straw', 'Ek Paheli Leela', 'Barkhaa',
       'Dharam Sankat Mein', 'Kaagaz Ke Fools', 'Kuch Kuch Locha Hai',
       'Piku', 'Bombay Velvet', 'I Love Desi', 'Dil Dhadakne Do',
       'Welcome 2 Karachi', 'P Se PM Tak', 'Mere Genie Uncle',
       'Hamari Adhuri Kahani', 'Miss Tanakpur Haazir Ho', 'Uvaa',
       'Ishq Ke Parindey', 'Ishqedarriyaan', 'Sabki Bajegi Band',
       'Masaan', 'Guddu Rangeela', 'Bezubaan Ishq', 'Second Hand Husband',
       'Bangistan', 'Thoda Lutf Thoda Ishq', 'Sorry Daddy', 'Katti Batti',
       'Meeruthiya Gangsters', 'Bhaag Johnny', 'Jazbaa', 'Bumper Draw',
       'Chinar Daastaan-E-Ishq', 'Kis Kisko Pyaar Karoon',
       'Pyaar Ka Punchnama 2', 'Wedding Pullav', 'Shaandaar',
       'Guddu Ki Gun', 'The Silent Heroes', 'Ranbanka', 'Sholay',
       'Dedh Ishqiya', 'Karle Pyaar Karle', 'Paranthe Wali Gali',
       'Strings of Passion', 'Gunday', 'Hasee Toh Phasee', 'Ya Rab',
       'Darr @ the Mall', 'Babloo Happy Hai', 'Shaadi Ke Side Effects',
       'Gulaab Gang', 'Bewakoofiyaan', 'Karar: The Deal', 'Ragini MMS 2',
       'Dishkiyaoon', 'Ankhon Dekhi', 'Gang of Ghosts', 'O Teri',
       'Bhoothnath Returns', 'Lucky Kabootar', 'Youngistaan',
       'Samrat & Co.', 'Purani Jeans', 'Kya Dilli Kya Lahore',
       'Koyelaanchal', 'Dekh Tamasha Dekh', 'Mastram', 'Hawaa Hawaai',
       'Kahin Hai Mera Pyar', 'Kuku Mathur Ki Jhand Ho Gayi', 'Heropanti',
       'Filmistaan', 'Revolver Rani', 'Machhli Jal Ki Rani Hai',
       'Khwaabb', 'Yeh Hai Bakrapur', 'Ek Villain', 'Bobby Jasoos',
       'Humshakals', 'Hate Story 2', 'Lekar Hum Deewana Dil',
       'Amit Sahni Ki List', 'Bazaar E Husn', 'Singham Returns',
       'Mardaani', 'Raja Natwarlal', 'Finding Fanny',
       'Mumbhai Connection', 'Desi Kattey',
       'Balwinder Singh Famous Ho Gaya', 'Jigariyaa',
       'Meinu Ek Ladki Chaahiye', 'Chaarfutiya Chhokare', 'Sonali Cable',
       'Super Nani', 'Ekkees Toppon Ki Salaami', 'The Shaukeens',
       'A Decent Arrangement', 'Titoo MBA', 'Kill Dil', 'Zed Plus',
       'Bhopal: A Prayer for Rain', 'Mumbai Delhi Mumbai',
       'Badlapur Boys', 'Main Aur Mr. Riight', 'Dehraadun Diary',
       'Sulemani Keeda', 'Gangoobai', 'Akaash Vani', 'Main Krishna Hoon',
       'Race 2', 'Bandook', 'Listen... Amaya', 'Special 26', 'Murder 3',
       'Zila Ghaziabad', 'Bloody Isshq', 'Mere Dad Ki Maruti',
       'Jolly LLB', 'Saheb Biwi Aur Gangster Returns', 'Vishwaroopam',
       'Rangrezz', 'Aashiqui 2', 'Ek Thi Daayan', 'Nautanki Saala!',
       'Jayantabhai Ki Luv Story', 'Go Goa Gone', 'Gippi',
       'Ishkq in Paris', 'Yeh Jawaani Hai Deewani', 'Fukrey',
       'Chhota Bheem and the Throne of Bali', 'Raanjhanaa',
       'Ankur Arora Murder Case', 'Shortcut Romeo', 'Policegiri',
       'Bhaag Milkha Bhaag', 'B.A. Pass', 'Enemmy', 'Issaq',
       'Bajatey Raho', 'Luv U Soniyo', 'Chor Chor Super Chor',
       'Love in Bombay', 'Madras Cafe', 'Shuddh Desi Romance',
       'Ramaiya Vastavaiya', 'Chennai Express', 'Grand Masti',
       'Phata Poster Nikhla Hero', 'The Lunchbox', 'Baat Bann Gayi',
       'Mickey Virus', 'Satya 2', 'Rajjo', 'Maazii', 'Sooper Se Ooper',
       'Wake Up India', 'What the Fish', 'Table No. 21', 'Bullett Raja',
       'Dhoom 3', 'Lootera', 'Chaalis Chauraasi', 'Sadda Adda',
       'Singh Saab the Great', 'Ek Main Aur Ekk Tu', 'Ekk Deewana Tha',
       '?: A Question Mark', 'Jodi Breakers', 'Tere Naal Love Ho Gaya',
       'Kahaani', 'Zindagi Tere Naam', 'Bumboo', "Valentine's Night",
       'Married 2 America', 'Chaar Din Ki Chandni', 'Bittoo Boss',
       'Vicky Donor', 'Hate Story', 'Tezz', 'Ishaqzaade', 'Fatso!',
       'Arjun: The Warrior Prince', 'Life Ki Toh Lag Gayi',
       'Ferrari Ki Sawaari', 'Yeh Khula Aasmaan', 'Rakhtbeej',
       'Gangs of Wasseypur', 'Gangs of Wasseypur', 'Gangs of Wasseypur',
       'Gangs of Wasseypur', 'Gattu', 'Kyaa Super Kool Hain Hum',
       'Ek Tha Tiger', 'Challo Driver', 'Shirin Farhad Ki Toh Nikal Padi',
       'Krishna Aur Kans', 'From Sydney with Love',
       'Jalpari: The Desert Mermaid', 'Barfi!',
       'Chal Pichchur Banate Hain', 'Jeena Hai Toh Thok Daal', 'Aiyyaa',
       'Bhoot Returns', 'Delhi Safari', 'Student of the Year',
       'Ajab Gazabb Love', 'Sons of Ram', 'Jab Tak Hai Jaan',
       'Son of Sardaar', 'Cigarette Ki Tarah', 'Dabangg 2', 'Housefull 2',
       'Bol Bachchan', 'English Vinglish', 'Impatient Vivek',
       'Yamla Pagla Deewana', 'Mumbai Mast Kallander',
       'Dil Toh Baccha Hai Ji', 'United Six', 'Utt Pataang',
       'Tanu Weds Manu', 'F.A.L.T.U', 'Memories in March',
       'Teen Thay Bhai', 'Shor in the City', 'Zokkomon', 'Chalo Dilli',
       'Aashiqui.in', 'Satrangee Parachute', 'Naughty @ 40', 'Ragini MMS',
       'Stanley Ka Dabba', 'Pyaar Ka Punchnama', 'Bheja Fry 2',
       'Always Kabhi Kabhi', 'Double Dhamaal',
       'Bbuddah... Hoga Terra Baap', 'Murder 2', 'Chillar Party',
       'Zindagi Na Milegi Dobara', 'I Am Kalam', 'Bin Bulaye Baraati',
       'Kucch Luv Jaisaa', 'Singham', 'Shabri', 'Phhir', 'Aarakshan',
       'Chatur Singh Two Star', 'Sahi Dhandhe Galat Bande',
       'Yeh Dooriyan', 'Hum Tum Shabana', 'Mere Brother Ki Dulhan',
       'U R My Jaan', 'Saheb Biwi Aur Gangster', 'Tere Mere Phere',
       'Love Breakups Zindagi', 'Mujhse Fraaandship Karoge', 'Aazaan',
       'Ra.One', 'Tell Me O Kkhuda', 'Damadamm!', 'Desi Boyz',
       'No One Killed Jessica', 'The Dirty Picture', 'Pyaar Impossible!',
       'Chance Pe Dance', 'My Friend Pinto', 'Ishqiya', 'Road to Sangam',
       'Jo Hum Chahein', 'Toh Baat Pakki!', 'My Name Is Khan',
       'Karthik Calling Karthik', 'Don 2', 'Rokkk', 'Aakhari Decision',
       'Right Yaaa Wrong', 'Thanks Maa', 'Na Ghar Ke Na Ghaat Ke',
       'Hum Tum Aur Ghost', 'Tum Milo Toh Sahi',
       'Jaane Kahan Se Aayi Hai', 'Prem Kaa Game', 'The Japanese Wife',
       'Paathshaala', 'Phoonk 2', 'Mittal v/s Mittal',
       "It's a Wonderful Afterlife", 'Raavan', 'Bumm Bumm Bole',
       'Milenge Milenge', 'Tere Bin Laden', 'Lafangey Parindey',
       'Hello Darling', 'Antardwand', 'Aashayein', 'Soch Lo',
       'Khichdi: The Movie', 'Red Alert: The War Within',
       'The Film Emotional Atyachar', 'Hisss', 'Do Dooni Chaar',
       'Ramayana: The Epic', 'Jhootha Hi Sahi', 'Break Ke Baad',
       'Khuda Kasam', 'Phas Gaye Re Obama', 'Malik Ek',
       'Band Baaja Baaraat', 'Kaalo', 'Mirch', 'Tera Kya Hoga Johnny',
       'Ramaa: The Saviour', 'I Hate Luv Storys', 'Dulha Mil Gaya',
       'Anjaana Anjaani', 'Pankh'], dtype=object)

In [ ]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))